GCC_PREPROCESSOR_DEFINITIONS[sdk=exclavekit*] = $(inherited) DTRACE_PROBES_DISABLED=1
INSTALL_FEATURE_FLAGS[sdk=exclavekit*] = NO

INSTALLHDRS_SCRIPT_PHASE = YES

SCRIPT_OUTPUT_DIR = $(SCRIPT_OUTPUT_DIR__$(DEPLOYMENT_LOCATION:default=NO))
SCRIPT_OUTPUT_DIR__NO = $(TARGET_BUILD_DIR)
SCRIPT_OUTPUT_DIR__YES = $(DSTROOT)

MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH = $(SCRIPT_OUTPUT_DIR)/$(PRIVATE_HEADERS_FOLDER_PATH)
MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH[sdk=macosx*] = $(SCRIPT_OUTPUT_DIR)/$(PUBLIC_HEADERS_FOLDER_PATH)

MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS = $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH)/List.h $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH)/Object.h $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH)/Protocol.h $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH)/hashtable.h $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH)/hashtable2.h $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH)/objc-class.h $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH)/objc-load.h $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS_FOLDER_PATH)/objc-runtime.h

TAPI_EXTRA_PUBLIC_HEADERS[sdk=macosx*] = $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS)

TAPI_EXTRA_PRIVATE_HEADERS = $(MACOSPUBLIC_OTHERWISEPRIVATE_HEADERS)
TAPI_EXTRA_PRIVATE_HEADERS[sdk=macosx*] =
